.selected-post {
  padding: 15px;

  &--header {
    text-align: center;
  }

  &__comments {
    padding: 15px;
  }
  &--title {
    margin-bottom: 5px;
    font-size: 18px;
    font-weight: 600;
  }
  &--content {
    margin-bottom: 15px;
  }
}