.post-item {
  display: flex;
  align-items: center;
  width: 540px;
  height: 70px;
  margin-top: 25px;
  padding-left: 15px;
  padding-right: 15px;
  background-color: #fff;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  cursor: pointer;

  &:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  }

  &--name {
   font-size: 18px;
  }
}