.post-list {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 80%;
  margin-left: auto;
  margin-right: auto;

  &__link {
    color: #000;
    text-decoration: none;
  }
}